body {
    background-color: #111b21;
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}

#contenedor {
    width: calc(100vw - 80px);
    height: calc(100vh - 38px);
    margin: 19px 40px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
}

#izquierdo {

    background-color: burlywood;
}

    .contenedorHeaderContactos {
        width: calc(100%-32px);
        height: 40px;
        background-color: #202c33;
        padding: 10px 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
        #icons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }


    #contenedorFiltro {
        width: calc(100%-24px);
        height: 50px;
        background-color: #111b21;
        padding: 0px 0px 0px 12px;
        display: flex;

    }
        #barrabusqueda {
            width: calc(100%-24px);
            height: 30px;
            padding: 0px 0px 0px 12px;        
            background-color: #202c33;
            


            margin: 5px;
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        
    #contenedorChat1 {
        width: calc(100%-32px);
        height: 55px;
        padding: 10px 16px;
        background-color: #111b21;
        color: #8696a0;
        display: flex;
    }
    #contenedorChat2 {
        width: calc(100%-32px);
        height: 55px;
        padding: 10px 16px;
        background-color: #111b21;
        color: #8696a0;
        display: flex;
    }
    #contenedorChat3 {
        width: calc(100%-32px);
        height: 55px;
        padding: 10px 16px;
        background-color: #111b21;
        color: #8696a0;
        display: flex;
    }
    #contenedorChat4 {
        width: calc(100%-32px);
        height: 55px;
        padding: 10px 16px;
        background-color: #111b21;
        color: #8696a0;
        display: flex;
    }
    #contenedorChat5 {
        width: calc(100%-32px);
        height: 55px;
        padding: 10px 16px;
        background-color: #111b21;
        color: #8696a0;
        display: flex;
    }
    #contenedorChat6 {
        width: calc(100%-32px);
        height: 55px;
        padding: 10px 16px;
        background-color: #111b21;
        color: #8696a0;
        display: flex;
    }#contenedorChat7 {
        width: calc(100%-32px);
        height: 55px;
        padding: 10px 16px;
        background-color: #111b21;
        color: #8696a0;
        display: flex;
    }#contenedorChat8 {
        width: calc(100%-32px);
        height: 55px;
        padding: 10px 16px;
        background-color: #111b21;
        color: #8696a0;
        display: flex;
    }   





#derecho {

    background-color: #202c33;
}


    #dentroDeChat{
        width: calc(100%-32px);
        height: 40px;
        padding: 10px 16px;
        background-color: #111b21;
        padding: 0px 0px 0px 12px;
        display: flex;
    }

    
    #header-bajo{
        float: calc(100%-32px);
        padding: 10px 16px;
        background-color: 111b21;
    }
    

#fotoperfil {
    border-radius: 50%;

}